/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */

body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	background-image: url(oriental-tiles/oriental-tiles.png);
	color: #333333;
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: blue;
	border-bottom: 5px solid salmon;
	z-index: 9999;
}

.container {
	width: 960px;
	margin: 50px auto;
	background-color: #ffffff;
	position: relative;
}

.twitter {
	width: 100px;
	height: 71px;
	background-image: url(hehe.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

.header ul li {
	display: inline-block;
	font-size: 15px;
	margin-top: 15px;
	margin-right: 7px;
}

.header a {
	text-decoration: none;
	padding: 3px;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 200px;
	background-image: url(beachcopy.jpg);
	background-size: cover;
	background-position: 0 -280px;
	border-top: 5px solid darkblue;
	border-bottom: 5px solid darkblue;
}

.main {
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}

.main .penulis {
	font-size: 12px;
	margin-top: -5px;
}

.main h2 {
	font-size: 25px;
	font-weight: bold;
}

.main .penulis a {
	text-decoration: none;
}

.main p {
	margin-bottom: 20px;
	font-size: 16px;
}

.main p a {
	text-decoration: none;
	padding: 3px;
}

.main p a:hover {
	background-color: lightskyblue;
	color: white;
}

/* sidebar */
.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	font: arial;
	font-weight: bold;
	color: #D9A810;
}

.sidebar img {
	width: 70px;
	height: 70px;
	float: left;
	padding-right: 20px;
}

.sidebar p {
	font: 13px/18px arial;
}


.footer {
	background-color: #0739A4;
	padding: 5px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

.sidebar ul li {
	display: inline-block;
	font-size: 15px;
	margin-top: 15px;
	margin-right: 7px;
	font: 13px/18px arial;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	background-color: lightskyblue;
	color: white;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}